.App {
  text-align: center;
}

.counter{
  font-size: 25px;
  display : flex;
  justify-content: space-evenly;
  overflow: auto;     
}

.links{
  background-color: black;
  width: fill;
  color: aliceblue;
  text-decoration: none;
}